IDA58U_1004/IDA58U_orarend.dtd

<!ELEMENT BC6X4X_orarend (ora+)>

    <!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
        <!ATTLIST ora id CDATA #REQUIRED>
        <!ATTLIST ora tipus CDATA #REQUIRED>

        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT idopont (nap,tol,ig)>
        <!ELEMENT nap (#PCDATA)>
        <!ELEMENT tol (#PCDATA)>
        <!ELEMENT ig (#PCDATA)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
